<a href="https://colab.research.google.com/github/pdivya-mca/Exploratory-Data-Analysis-On-Netflix/blob/main/Input_Output_1_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **GUVI CODEKATA Question 1 to 10**

Write a code to get the input in the given format and print the output in the given format

In [1]:
# Question 1
a=int(input())
print(a)

2
2

Write a code to get the input in the given format and print the output in the given format

In [2]:
# Question 2
a=input().split()
b=map(int,a)
print(*b)

2 3 4 5 6 7 8
2 3 4 5 6 7 8

Write a code to get the input in the given format and print the output in the given format

In [3]:
# Question 3
a=input().split()
b=input().split()

d=map(int,a)
e=map(int,b)

print(*a)
print(*b)

5 3
1 2 3 4 5
5 3
1 2 3 4 5

Write a code to get the input in the given format and print the output in the given format

In [4]:
#Question 4
a=input().split()
b=input().split()
c=input().split()

d=map(int,a)
e=map(int,b)
f=map(int,c)

print(*a)
print(*b)
print(*c)

2 4
2 4
2 4
2 4
2 4
2 4

Write a code to get the input in the given format and print the output in the given format

In [5]:
#Question 5
a=input().split()
b=input().split()
c=input().split()

d=map(int,a)
e=map(int,b)
f=map(int,c)

print(*d,*e,*f)

2
4
5
2 4 5

Write a code to get the input in the given format and print the output in the given format

In [6]:
#Question 6
a=input().split()
b=input().split()
c=input().split()

d=map(int,a)
e=map(int,b)
f=map(int,c)

print(*a)
print(*b)
print(*c)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5

Write a code to get the input in the given format and print the output in the given format

In [7]:
#Question 7
a=input()
b=list(map(str,a))

print(*b)

guvi
g u v i

Write a code to get the input in the given format and print the output in the given format.

In [8]:
#Question 8
a=input().split()
for i in a:
  print(i)

2.3 4.5 7.8
2.3
4.5
7.8

Write a code to get the input in the given format and print the output in the given format.

In [9]:
#Question 9
s=input()
for i in s:
    print(i)

guvigeek
g
u
v
i
g
e
e
k

Write a code to get the input in the given format and print the output in the given format.

In [10]:
#Question 10
a=input()
b=list(map(str,a))
print(*b,sep=",")

guvi
g,u,v,i